<!-- controller: SidebarCtrl as sidebar -->

<div class="col-sm-3 col-md-2 sidebar jumbotron container">
	
	<div id="keyButtons">

		<button class="btn btn-default" ng-repeat="note in sidebar.notes | limitTo: 12" ng-click="sidebar.clickChord($index)">{{note}}</button>
	</div>
	<p>Current Root:</p>
	<p>{{sidebar.root}} id: {{sidebar.id}}</p>

	<br>
	<p>Create chord:</p>
	<button class="btn btn-warning" ng-repeat="chord in music.chords" ng-click="music.buildChord(music.root, $index, notes)">{{chord.type}}</button>

	<p id='test'></p>

	<p>Current Chord:</p>
	<p>{{music.chord}}</p>

	<p>Notes in current chord:</p>
	<p>{{music.chordNotes}}</p>
</div>

<div class="col-sm-9 col-md-10 ">
	<music-sandbox></music-sandbox>
</div>