<!-- controller: SidebarCtrl as sidebar -->

<div class="col-sm-2 col-md-2 col-lg-2 sidebar jumbotron container">
	
	<p>Drag a chord root from here:</p>
	<div id="keyButtons" class="droppable-add">
		<li 
			class="btn btn-default keyButtons draggable" 
			ng-repeat="note in sidebar.notes | limitTo: 12"
			ng-click="sidebar.testClick()">{{note}}</li>
	</div>

	<!-- <button class="btn btn-default" ng-repeat="num in sidebar.majorNumerals">{{num}}</button> -->

</div>

<div class="col-sm-9 col-md-10 ">
	<music-sandbox></music-sandbox>
</div>