$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
// endinjector


/*.song {
	width: 92px;
	margin: 10px 5px;
}*/

#toolbar {
	margin: 5px;
}

.keyButtons {
	width: 50px;
	height: 40px;
	font-size: 16px;
}

.animate-enter {
	-webkit-transition: 1s linear all; 
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

#addMeasures {
	margin: 10px;
}

.footer{
  border:none;
  height: 20px;
}

.measure {
	display: inline-block !important;
	margin: 10px;
}

.beat {
	width: 100px;
	border: 1px;
	font-size: 120%;
}

h1, h2 {
	font-family: 'Chewy', normal;
	margin-left: 20px;
}

.btn {
}

.dropdown-menu {
	font-size: 85%;
}

.table {
	height: 40px;
	padding: 0;
}

a {
	height: 40px;
}

#q-mark {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

#rest {
	font-family: FreeSerif;
}

.sidebar {
	height: 100%;
}

select {
	width: 100px;
}

#save {
	width: 167px;
}

.toolbar {
	width: 120px;
}

.btn-toolbar li {
	font-size: 85%;
}

body {
	/*background-color: #00C490*/
}

.navbar {
	/*background-color: #0034C4;*/
	/*color: #C49000;*/
	font-weight: bold;
}

#score {
	background-color: lightblue;
	min-height: 500px;
	margin: 10px 20px;
	border-radius: 10px;
}

/*.btn:hover {
	background-color: #C40034;
};*/