<!-- controller: ToolbarCtrl as toolbar -->
<!-- parent controller: MusicSandboxCtrl as sand -->

<div class="col-md-12 col-lg-12">
	<div class="col-md-6 col-lg-6">
		<button id="addMeasures" class="btn btn-default" ng-click="toolbar.addMeasures()">Add Measures</button><br>
  	<div class="btn-group">
		  <p class="btn btn-default">Tempo {{toolbar.tempo}} bpm</p>
		  
		  <button type="button" class="btn btn-default">Up</button>
		  <button type="button" class="btn btn-default">Dn</button>
		</div><br>
  	<button class="btn btn-default">Play/Pause</button>
	</div>

	<div class="col-md-6 col-lg-6">
		<div class="input-group">
		  <span class="input-group-addon">Title:</span>
		  <input type="text" class="form-control" placeholder="song title" value="{{toolbar.songTitle.title}}"/>
		</div>
		<br>
	  <button class="btn btn-default" ng-click="toolbar.saveSong()">Save This Song</button>


    <select class="btn btn-default" ng-model="toolbar.songTitle" ng-options="song.title for song in toolbar.userSongs"></select>
	

	  <div class="btn-group">
		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		    Load Standard <span class="caret"></span>
		  </button>
		  <button class="btn btn-default" ng-click="toolbar.discard()">Discard Draft</button>
		</div>
	</div>
</div>