<!-- controller: ToolbarCtrl as toolbar -->
<!-- parent controller: MusicSandboxCtrl as sand -->

<div class="col-md-12 col-lg-12">
	<div class="col-md-8 col-lg-8">
	<p>Add Measures</p><br>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<button class="btn-group btn btn-default" ng-click="toolbar.addMeasures()"> / / / / </button>
				<button
					class="btn-group btn btn-default"
						ng-repeat="note in toolbar.notes | limitTo: 12"
						ng-click="toolbar.addChordMeasure(note, $index)">{{note}}</button>
			</div>
		</div>

	  <div class="btn-group">
		 	<p class="btn btn-default">Tempo {{toolbar.tempo}} bpm</p>
				  
		 	<button type="button" class="btn btn-default">Up</button>
		 	<button type="button" class="btn btn-default">Dn</button>
		</div><br>
	  <button class="btn btn-default" ng-click="toolbar.play()">Play/Pause</button>
	</div>

	<div class="col-md-4 col-lg-4">
		<div class="input-group">
		  <span class="input-group-addon">Title:</span>
		  <input type="text" class="form-control" placeholder="song title" value="{{toolbar.songTitle}}" ng-model="toolbar.songTitle"/>
		</div>
		<br>
	  <button class="btn btn-default" ng-click="toolbar.saveSong()">Save This Song</button>
		<button class="btn btn-danger" ng-click="toolbar.discardSong(toolbar)">Discard Draft</button>
	</div>
	<div class="col-md-4 col-lg-4">

  My Songs:<select class="btn btn-default" ng-model="toolbar.mySong" ng-options="song as song for song in toolbar.userSongs"></select>

	<button class="btn btn-default" ng-click="toolbar.loadMySong()">Load My Song</button>

 	Standards:<select class="btn btn-default" ng-model="toolbar.standard" ng-options="song.title for song in toolbar.standards"></select>
	<button class="btn btn-default">Load Standard</button>
	</div>
</div>