<!-- controller: ToolbarCtrl as toolbar -->
<!-- parent controller: MusicSandboxCtrl as sand -->

<div class="col-md-12 col-lg-12">
	<div class="col-md-8 col-lg-8">
		<h2>{{toolbar.songTitle}}</h2>

		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<li id="rest" class="btn-group btn btn-default draggable" ng-click="toolbar.addRest()"> &#x1d13d; / &#x1d13b; / &#119099;</li>
				<li
					class="btn-group btn btn-default draggable"
						ng-repeat="note in toolbar.notes | limitTo: 12"
						ng-click="toolbar.addChordMeasure(note, $index)">{{ note | accidentals }}</li>
			</div>
		</div>

	  <div class="btn-group">
		 	<p class="btn btn-default">Tempo {{toolbar.tempo}} bpm</p>
				  
		 	<button 
		 		type="button"
		 		class="btn btn-default"
		 		ng-click=toolbar.tempoUp()>Up</button>
		 	<button 
		 		type="button" 
		 		class="btn btn-default"
		 		ng-click=toolbar.tempoDown()>Dn</button>
		</div>
		<br>

	  <button class="btn btn-default" ng-click="toolbar.play()">Play</button>
	</div>

	<div class="col-md-4 col-lg-4">
		<div class="input-group">
		  <span class="input-group-addon">Title:</span>
		  <input type="text" class="form-control" placeholder="song title" value="{{toolbar.songTitle}}" ng-model="toolbar.songTitle"/>
		</div>
		<br>
	  <button class="btn btn-default" ng-click="toolbar.saveSong()">Save This Song</button>
		<button class="btn btn-danger" ng-click="toolbar.discardSong(toolbar)">Discard Draft</button>
	</div>
	<div class="col-md-4 col-lg-4">

  My Songs:<select class="btn btn-default" ng-model="toolbar.mySong" ng-options="song as song for song in toolbar.userSongs"></select>

	<button class="btn btn-default" ng-click="toolbar.loadMySong()">Load My Song</button>

 	Standards:<select class="btn btn-default" ng-model="toolbar.selectStandard" ng-options="song as song for song in toolbar.standards"></select>

	<button class="btn btn-default">Load Standard</button>
	</div>
</div>