<!-- parent controller: SidebarCtrl as sidebar -->
<!-- controller: MusicSandboxCtrl as sand -->

<toolbar></toolbar>
<music-audio></music-audio>

<div class="col-md-12 col-lg-12">
  <div ui-sortable id="score" class="row" ng-model="sand.song">

    <div id="song{{+$index}}" class="measure" ng-repeat="measure in sand.song track by $index" >
      
      <div class="btn-group" ng-repeat="beat in sand.song[$index] track by $index">
        <li 
          class="btn btn-default droppable" 
          ng-click="sand.dropdown($event, $parent.$index, $index)">
          {{measure[$index].currentroot}}{{measure[$index].currentChord}}</li>


        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="sub in sand.substitutions">
            <a href="#" ng-click="sand.updateChord(sub.name, sub.chordroot, $event, $parent.$index)">{{sub.chordroot}}{{sub.name}} {{sub.notes}}</a>
          </li>
        </ul>
      </div>

      <button class="btn btn-danger btn-xs" ng-click="sand.deleteCurrentMeasure($index)">X</button>

    </div>
  </div>
</div>
